* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-15 {
    padding: 15px;
}

/* main */

body {
    height: 100vh;
    background-color: antiquewhite;
    text-align: center;
    background-image: url(../img/trenitalia_hero_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

#michau, .initialprice, .discount, .totalprice {
    animation: 2s from ease backwards;
}

@keyframes from {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0);
    }
}

.initialprice{
    animation-delay: 0.25s;
}

.discount{
    animation-delay: .5s;
}

.totalprice{
    animation-delay: 0.75s;
}



span {
    color: red;
}

span::before {
    content: '\20AC';
}

.freccia {
    position: absolute;
    top:50%;
    left:50%; 
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 500px;
    background-color: rgba(0, 0, 0, .5);
    padding: 30px;
    box-shadow: 5px 6px 5px 3px red;
}

.freccia p {
    font-size: 1.2rem;
}